

 #box-carousel{
     /* filter: grayscale(50%); */
     /* filter: contrast(80%); */
      /*filter: sepia(0%) grayscale(50%)  contrast(70%);  */ 
     position: relative;
     z-index: 1; 
     display:flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-repeat: no-repeat;
     background-size: contain;
     min-height:230px;
     flex:100%;
     margin: 0 auto;
     .box-title-project{
        position: absolute;
        background: inherit;
        top:13%;
        left:17%;
        width: 70%;
        height: 70%;
        overflow: hidden;   
        .box-title-project--text{
            z-index: 1;
           /*  background: rgba(255, 255, 255,0.4); */
            width: 100%;
            margin: 0 auto;
            color:black;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-top:2em;
            height: 70%;
            .title-categorie{
                z-index: 1;
                font-size: 0.7em;
            }
            .title-grid{
            z-index: 1;
            font-size: 1em;
            font-weight: 550;
            }
            .button{
                position: relative;
                background-color: transparent;
                z-index: 1;
                font-size: 0.7em;
                text-decoration: none;
                border: none;
                width: 65px;
                text-align: center;
            }
            .button::after{
                content:"";
                position: absolute;
                top:15px;
                left:10%;
                width:80%;
                height: 1px;
                z-index: 2;
                transform: scaleX(1);
                transform-origin: bottom left;
                transition: transform 0.3s;
            }
            .button:hover::after{
                transform: scaleX(0);
            } 
        }
        .box-title-project--blur{
            position: absolute;
            z-index: 0;
            top:-21%;
            left:-25%;
            width: 400px;
            height:230px;
            background:inherit; 
              /* filter: blur(2px); */
              filter: blur(1.5px);
        }
    }
     .box-list_buttons{
         position: relative;
         top:42%;
         z-index: 2;  
         color:black;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: flex-end;
         justify-content: space-evenly;
         flex-wrap: nowrap;
         width: 20%;
     }
     .list_buttons{
         display:flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: transparent;
         border: none;
         font-size: 0.4em;
         font-weight:500; 
     }
     
 
.slide.transition:after{
    width: 0.4em;
    height:0.4em;
    content:"";
    margin-top:0.3em;
    background-color: black;
}
.slide:after{
    width: 0.4em;
    height:0.4em;
    content:"";
    margin-top: 0.3em;
    background-color: transparent;
}

}