@import './carouselHome';
html {
    /* width: 100vw; */
    margin: 0 auto;
    background-color: transparent;
}
#blockColorblindContent {
    display: none;
    background-color: transparent;
}
#root{
    /* width: 100vw; */
    margin: 0 auto;
    font-size: 30px;
    /* overflow-x: initial; */
}
body > #root > div {
    height: 100%;
    background-color: transparent;
  }
.container-home{
   
    .container-section1{
        position: relative;
        height: calc(100vh - 86px);
        z-index: 2;  
        width: 100vw;
        margin: 0em auto 0 auto;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        font-size: 2.5em;
        background-color:transparent;
        
        .title-section1{
            z-index:3;
            position: relative;
            left: -100px;
            top: 0vw;
            width: 100px;
            color: black;
            padding:0;
            margin-top:em;
            font-size: 0.7em;
           /*  background-color: #24292E; */
        }
        .title-section::after{
            
            content:"";
            z-index:-1;
            position: absolute;
            top:0.4em;
            left:-0.4em;
            background: transparent;
            border-bottom: 0.5px solid black;
            border-left: 0.5px solid black;
            transform: scaleX(1);
            transform-origin: bottom left;
            height: 70%;
            width: 150%;
            text-align: center;
        }
    #arrow-down1 {
        position: relative;
        left:10vw;
        top: -40vh;
        z-index: 3; 
        color: black;
        font-size: 0.8em;
        text-align: right;
        font-weight: 600;
    }
}
    .container-section2{
        z-index: 30;   
        width: 80vw;
        height:100%; 
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        background:white;
        background-attachment: fixed;
        background-position: center;
        .title-section2{
            z-index:3;
            position: relative;
            left: 90%;
            top: 10vw;
            width: 100px;
            color: black;
            padding:0;
            margin-left:40px;
            margin-bottom:3em;
            font-size: 0.7em;
        }
        .title-section2::after{
            content:"";
            z-index:-1;
            position: absolute;
            top:0.4em;
            left:-1em;
            background: transparent;
            border-bottom: 0.5px solid black;
            border-right: 0.5px solid black;
            transform: scaleX(1);
            transform-origin: bottom left;
            height: 70%;
            width: 150%;
            text-align: right;
        }
        #arrow-down2 {
            position: relative;
            left:50vw;
            top: -50vh;
            z-index: 3; 
            color: black;
            font-size: 0.8em;
            text-align: right;
            font-weight: 600;
            width:100%;
        }
        #arrow-up1{
            position: relative;
            left: 50.7vw;
            top: -52vh;
            z-index: 3; 
            color: black;
            font-size: 0.8em;
            text-align: right;
            font-weight: 600;
        }
    }
    .container-section3{
        z-index:3;   
        width: 50vw;
        height:calc(100vh - 56px); 
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        background:white;
        background-attachment: fixed;
        background-position: center; 
        
        .title-section3{
            z-index:30;
            position: relative;
            left: -100px;
            top: 0vw;
            width: 100px;
            color: black;
            padding:0;
            margin-bottom:0em;
            font-size: 0.7em;
           /*  background-color: #24292E; */
        }
        .title-section3::after{
            content:"";
            z-index:35;
            position: absolute;
            top:0.4em;
            left:-0.4em;
            background: transparent;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            transform: scaleX(1);
            transform-origin: bottom left;
            height: 70%;
            width: 150%;
            text-align: center;
            
        }

        #arrow-up2{ 
        position: relative;
        left:10vw;
        z-index: 3; 
        color: black;
        font-size: 0.8em;
        text-align: right;
        font-weight: 600;
        }
    }
}
